LOGFILE="cmx.log"
APP_SECRET_KEY=""
NOTIFICATION_USER="cmx"
NOTIFICATION_PASSWORD=""
HOST="127.0.0.1"
DBNAME="cmx"
DB_USERNAME=""
DB_PASSWORD=""
CMX_USERNAME=""
CMX_PASSWORD=""
CMX_IP2MAC_URL="http://{}/api/location/v2/clients?ipAddress="
CMX_HOST=""
CMX_TIMEOUT=5
CMX_MOVEMENT_DISTANCE=50
MAX_REGISTERED_DEVICES=1
MAX_MOVING_ANGLE=105
SPARK_BOT_TOKEN=""
SPARK_ROOM_ID=""
MAX_TRANSACTIONS=297
MAX_MTRS_SEC=4.42
